body{

    font-family: Arial;
}
.container{

    display: grid;/*Iniciar el grid(grilla)*/
    grid-template-columns: repeat(4, 1fr);/*Grid con tres columnas,
    los elementos se organizaran en estas columnas, si quiero
    mas dinamisco puedo colocar 25% 50% 25% o combinar
    como 25% 200px 25%*/
    grid-template-rows: repeat(4, 1fr);/*Si no doy un tamaño a todas
    las filas tendran un tamaño automatico a las que no declare
    un tamaño*/
    /*grid-template: 300px 100px 100px / 1fr 1fr 1fr;Forma de 
    declarar filas y columnas en una linea,primero 
    filas y luego columnas, con la unidad de fracciones dividiremos
    el espacio, en este caso 1 fr=33.3...%*/
    /*grid-template: 300px 100px 100px / repeat(4, 1fr);Nueva función
    repetidora integrada a css que permitira rellenar 
    el campo mas rapidamente*/
    /*grid-template: 300px 100px 100px / repeat(4, minmax(200px,1fr));
    valor minimo que ocupara la columna 200 px, valor maximo
    que ocupara la columna 1fr, muy util para responsive design*/
    /* grid-template: 100px 1fr 150px/ 200px 1fr; */
    /*grid-column-gap: 30px;Espaciado entre columnas o horizontal*/
    /*grid-row-gap: 30px;*/
    grid-gap: 10px;/*Espaciado en filas y columnas en una sola linea*/
    height: 100vh;
    
}
.item{

    background: lightblue;
    padding: 10px;
    border: 1px solid red;
}
.item:nth-of-type(1){/*Pseudo clase, tomara el numero de elemento
de clase item que yo le indique*/
    background: blue;
    /*overflow: auto;Obtener un scroll en contenido excedente
    o que no puedo visualizar*/
    /*display: grid;Grid dentro de un grid*/
    /* grid-template: 50px 50px 50px / 200px 200px 200px; */
    grid-column-start: 1;/*Desde que grid-line(linea) inicia*/
    grid-column-end: 3;/*Hasta que grid-line(linea) termina*/
}
.item:nth-of-type(7){

    grid-column: 2 / 4 ;/*Forma de abreviar ambas en una, 
    donde inicia y donde finaliza el item 8.*/
}
.item:nth-of-type(8){

    /*grid-column: 1 / span 2 ;Si no se donde quiero que vaya a terminar
    le indico que ocupe dos espacios*/
    grid-column: 1 / -1;/*De esta manera tomara todo el 
    ancho o todas las columnas*/
}
.item .item{

    background: yellow;
}
.header{

    grid-area: header;
}
.left{

    grid-area: left;
}
.contenido{

    grid-area: contenido;
}
.footer{

    grid-area: footer;
}